  
#bmiaddons-bmi-imperial-form {
  width: 100%;
  overflow: hidden;
    }

#bmiaddons-bmi-imperial-form .form-item-body-height-inches-imp .form-required {
  display: none;
  }
  
#bmiaddons-bmi-imperial-form .form-item-body-height-inches-imp .field-suffix {
  display: block;
  }

#bmi-form #bmi_calculate_wrapper, 
#bmiaddons-bmi-imperial-form #bmiaddons_bmr_imp_calc_wrapper {
  padding-top: 10px;
  }
  
#bmiaddons-bmi-imperial-form #edit-body-weight-imp {
  width: 90%;
	padding-right: 10px;
	}
		
#bmiaddons-bmi-imperial-form #edit-body-height-feet-imp {
		width: 90%;
		padding-right: 10px;
	}
 
/* Styles for the BMR calculator */
  
#bmiaddons-bmr-imperial-form #edit-age,
#bmiaddons-bmr-metric-form #edit-age-met {
  width: 60px;
  }
  
 
#bmiaddons-bmr-imperial-form .form-type-radio,
#bmiaddons-bmr-metric-form .form-type-radio {
  display: inline;
  margin: 0px 15px 0 20px;
  }
  
#bmiaddons-bmr-imperial-form #edit-body-weight,
#bmiaddons-bmr-imperial-form #edit-body-height-feet,
#bmiaddons-bmr-metric-form #edit-body-weight-met,
#bmiaddons-bmr-metric-form #edit-body-height-met  {
  width: 90%;
  padding-right: 10px;
  }
  
#bmiaddons-bmr-imperial-form .form-item-body-weight {
  margin-bottom:10px;
  }
  
#bmiaddons-bmr-imperial-form .form-item-body-height-feet {
  float: left;
  width: 90%;
  }
  
#bmiaddons-bmr-imperial-form .form-item-body-height-inches {
  float: left;
  width: 80%;
  }
  
#bmiaddons-bmr-imperial-form .form-item-body-height-inches .form-required {
  visibility: hidden;
  }
  
#bmiaddons-bmr-imperial-form #bmiaddons_bmr_imp_calc_wrapper,
#bmiaddons-bmr-metric-form #bmiaddons_bmr_met_calc_wrapper {
  margin-bottom: 15px;
  }
  
#bmiaddons-bmr-metric-form .form-item-body-weight-met,
#bmiaddons-bmr-metric-form .form-item-body-height-met {
  width: 50%;
  margin: 0px 15px 0 0px;
  float: left;
  }
  
#bmiaddons-bmr-metric-form .form-item-weight-units,
#bmiaddons-bmr-metric-form .form-item-height-units {
  width: 40%;
  float: left;
  }
  
/* Styles for the Daily Calorie Needs Calculator */

#bmiaddons-hbf-form {
  border: 1px #D8D8D8 solid;
  padding: 15px;
  width: 75%;
  }

#bmiaddons-hbf-form #edit-bmr {
  width: 80px;
  }
  
#bmiaddons-hbf-form #edit-activity-factor {
  padding-left: 20px;
  margin-bottom: 20px;
  }
  
#bmiaddons-hbf-form #edit-submit {
  margin-bottom: 20px;
  }
  
/* Body Fat Calculator styles */

#bmiaddons-bodyfat-imp-form .required-fem,
#bmiaddons-bodyfat-metric-form .required-fem {
  color: #ff0000;
  }
  
#bmiaddons-bodyfat-imp-form .form-type-radio,
#bmiaddons-bodyfat-metric-form .form-type-radio {
  display: inline;
  margin: 0px 15px 0 20px;
  }
  
#bmiaddons-bodyfat-imp-form #edit-body-weight,
#bmiaddons-bodyfat-metric-form #edit-body-weight-met {
  width: 90%;
  padding-right: 10px;
  }

#bmiaddons-bodyfat-imp-form #edit-waist,
#bmiaddons-bodyfat-imp-form #edit-wrist,
#bmiaddons-bodyfat-imp-form #edit-hips,
#bmiaddons-bodyfat-imp-form #edit-forearm,
#bmiaddons-bodyfat-metric-form #edit-waist-met,
#bmiaddons-bodyfat-metric-form #edit-wrist-met,
#bmiaddons-bodyfat-metric-form #edit-hips-met,
#bmiaddons-bodyfat-metric-form #edit-forearm-met  {
  width: 25%;
  }
  
#bmiaddons_bodyfat_imp_calc_wrapper,
#bmiaddons_bodyfat_met_calc_wrapper {
  padding: 10px 0;
  }
  
#bmiaddons-bodyfat-imp-form .form-control,
#bmiaddons-bodyfat-metric-form .form-control {
  height: 24px;
  } 
  
#bmiaddons-wastetohip-imp-form #bmiaddons_wsthip_imp_calc_wrapper,  
#bmiaddons-wastetohip-metric-form #bmiaddons_wastetohip_met_calc_wrapper {
  padding-bottom: 10px;
  }

  
  
